* {
	margin: 0; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height:min-content;
    width: auto;
	font-family: sans-serif;
}

.limiter {
    width: 100%;
    margin: 0 auto;
  }
.container-table1{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #4158d0, #c850c0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}
.wrap-table1{
    width: 1000px;
}
  
table{
    border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;

}
table * {
    position: relative;
  }
.table1-head th{
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
}
table thead tr {
    background-color: #000000;
    color : white;
    border-radius: 25px;
    color: #ffffff;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f365;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }

.pagebar{
    justify-content:center;
    text-align: center;
    
}