<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="top">
  <div class="container-fluid">
    <div class="alert alert-danger" *ngIf="errorMsg">
      {{errorMsg}}
    </div>
      <div *ngIf="submitted && !errorMsg" class="success">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        Submission Succesfull ! 
        </div>
    </div>
    <form #empForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit()" novalidate>
      <span class="contact100-form-title">
        Employee Form
      </span>
      <div class="form-group">
        <label class="label-input100">Employee Name</label>
        <input type="text" required #name="ngModel" 
        [class.is-invalid]="name.invalid && name.touched" pattern="^[A-Za-z]+((\s)?([A-Za-z])+)*$"
         class="form-control" name="empName" [(ngModel)]="empModel.name">
        <!-- <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required </small> -->
        <div *ngIf="name.errors && (name.invalid || name.touched)">
          <small class="text-danger" *ngIf="name.errors?.['required']">Name is required</small>
          <small class="text-danger" *ngIf="name.errors?.['pattern']">Please enter a valid name </small>
        </div>
      </div>
      <div class="form-group">
        <label class="label-input100" >Email</label>
        <input type="email" required #email="ngModel" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
        [class.is-invalid]="email.invalid && email.touched"
        class="form-control" name="email" [(ngModel)]="empModel.email">
        <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required , Please enter valid email</small> -->
        <div *ngIf="email.errors && (email.invalid || email.touched)">
          <small class="text-danger" *ngIf="email.errors?.['required']">Email is required</small>
          <small class="text-danger" *ngIf="email.errors?.['pattern']">Please enter a valid email</small>
        </div>
      </div>
      <div class="form-group">
        <label class="label-input100">Phone Number</label>
        <input type="tel" required #phone="ngModel" pattern="^\d{10}$"
        [class.is-invalid]="phone.invalid && phone.touched"
        class="form-control" name="phone" [(ngModel)]="empModel.phone">
        <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number is required and must be 10 digits </small> -->
        <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
          <small class="text-danger" *ngIf="phone.errors?.['required']">Phone number is required</small>
          <small class="text-danger" *ngIf="phone.errors?.['pattern']">Phone number must be 10 digits</small>
        </div>
      </div>
      <div class="form-group">
        <label class="label-input100">Address</label>
        <input type="text" required #address="ngModel" 
        [class.is-invalid]="address.invalid && address.touched"
        class="form-control" name="addressline" [(ngModel)]="empModel.addressline">
        <small class="text-danger" [class.d-none]="address.valid || address.untouched">Address is required.</small>
      </div>
      <div class="form-group">
        <select required #stateselect="ngModel" [class.is-invalid]="stateselect.invalid && stateselect.touched"
        class="custom-select label-input100 l" name="state" [(ngModel)]="empModel.state">
        <option value="">State</option>
        <option *ngFor="let state of states">{{state}}</option>
        </select>
        <small class="text-danger" [class.d-none]="stateselect.valid || stateselect.untouched">Please choose your state </small>
        </div>
      <div class="form-group">
        <label class="label-input100">Date of Birth</label>
        <input max="2002-01-01" min="1940-01-01" type="date" required #dob="ngModel"
        pattern="^\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$"
        [class.is-invalid]="dob.invalid && dob.touched"
        class="form-control" name="dob" [(ngModel)]="empModel.dob">
        <div *ngIf="dob.errors && (dob.invalid || dob.touched)">
          <small class="text-danger" *ngIf="dob.errors?.['required']">Date of Birth is required</small>
          <small class="text-danger" *ngIf="dob.errors?.['pattern'] && dob.dirty">Please enter a valid Date of Birth</small>
        </div>
      </div>
      <div>
      <button [disabled]="empForm.form.invalid" class="btn btn-primary submit" type="submit">Submit Form</button>
      </div>
    </form>
  </div>
  <router-outlet></router-outlet>
  
</body>
</html>
